@font-face {
    font-family: "Vazir-light";
    src: url("../fonts/Vazirmatn-Light.woff2") format("woff2"),
        url("../fonts/Vazirmatn-Light.ttf") format("truetype")
}
@font-face {
    font-family: "Vazir-medium";
    src: url("../fonts/Vazirmatn-Medium.woff2") format("woff2"),
        url("../fonts/Vazirmatn-Medium.ttf") format("truetype")
}
@font-face {
    font-family: "Vazir-bold";
    src: url("../fonts/Vazirmatn-Bold.woff2") format("woff2"),
        url("../fonts/Vazirmatn-Bold.ttf") format("truetype")
}