@import url(../css/fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Vazir-light', Arial, Helvetica, sans-serif;

}

p,
li,
a,
h1,
h2,
h3 {
    font-family: 'Vazir-light', Arial, Helvetica, sans-serif;
}

:root {
    --white: #fff;
    --gray-light: #a8a8a8;
    --gray-light2: #dcdddd;
    --green-blue: #00998c;
    --green-dark: #005564;

}

.bc-main {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.item-container {
    margin: 3em 0 0 0;
}

.space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.space-evenly {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flex-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.flex-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}




.icon {
    width: 30px;
    height: 30px;
    /* margin: auto; */
}

#source,
#target,
#pc {
    display: none;
}

/* menu */
.rightside-nav {
    width: 65%;
    float: right;
    text-align: right;
    padding: 9px 0;
}

.leftside-nav {
    width: 35%;
    float: left;
    text-align: left;
}

.login-box {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--green-blue);
}

.menu-item {
    display: inline;
}

.menu-item a {
    color: black;
    padding: 0px 20px;
    z-index: 10;
}

.left-line {
    border-right: 1px solid var(--gray-light);
}

.menu-container {
    top: 0;
    z-index: 110;
    direction: rtl;
    position: fixed;
    width: 100%;
    background: var(--white);
    /* background: #232323; */
    padding: 10px 0;
}

/* .submenu{
    display: none;
} */
ul {
    padding-left: 0;
    margin: auto 0;
    padding: auto 0;
}

li {
    display: block;
    float: right;
    padding: 0.25rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

li a {
    color: #fff;
}

li:hover,
li:focus-within {
    cursor: pointer;
}

li:focus-within a {
    outline: none;
}

ul li ul {
    z-index: 102;
    background-color: var(--white);
    visibility: hidden;
    opacity: 0;
    min-width: 12rem;
    position: absolute;
    transition: all 0.5s linear;
    margin-top: 1rem;
    right: 0;
    display: none;
    border-radius: 10px;
    border-top: 3px solid var(--green-blue);
    transition: all 0.5s linear;
    box-shadow: 2px 3px 3px 1px #C1C1C1;
}

ul li:hover>ul,
ul li:focus-within>ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s linear;
    display: block;

}

ul li ul li {
    clear: both;
    width: 100%;
}

li a:hover {
    color: var(--green-blue);
}

/* banner */
.bg-banner {
    background-image: url(../images/slider.jpg);
}

.banner-size {
    min-height: 520px;
}

.banner {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hamburgermenu-icon {
    display: none;
}

.clr {
    clear: both;
}

.contact-num a,
img {
    vertical-align: middle;
}

.login-box p,
img {
    vertical-align: middle;
}

.contact-num {
    padding: 10px;
}

.contact-num a {
    margin: auto 0;
    padding: auto 0;
    padding-left: 5px;
    color: black;
}

.inline {
    display: inline;
}

.vertically-center {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
    padding: auto 0;
}

.horizontally-center {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    padding: 0 auto;
}

.text {
    text-align: right;
    color: var(--white);
    position: relative;
    margin-top: -400px;
    padding: 0 20px;
}

.text p {
    margin: 15px 0;
}

.search-box {
    position: relative;
    margin: 120px auto;
    z-index: 101;
    width: 100%;
    /* height: 100px; */
    border-radius: 20px;
    padding: 15px 5px;
    background: var(--white);
    box-shadow: 2px 3px 3px 1px #C1C1C1;

}

.item-spacing {
    padding: 10px 30px;
    margin: 10px;
    border: 1px solid var(--white);
    border-radius: 10px;
    direction: rtl;
}

.item-spacing-active {
    border-color: var(--green-blue);
}

.item-spacing:hover {
    color: var(--green-blue);
}

.item-spacing a {

    color: black;
}

.line-top {
    border-top: 1px solid var(--gray-light);
}

.line-bottom {
    width: 100%;
    border-bottom: 1px solid var(--gray-light);
}

.ticket-menu {}

.absolute {
    right: 0;
    position: absolute;
}

.relative {
    right: 0;
    position: relative;
}

.content-ticket-search {
    margin-top: 42px;
    width: 100%;
    margin-right: 10px;
    padding-top: 20px;
}

.rtl {
    direction: rtl;
    text-align: right;
    right: 0;
}

/* .radio {
    padding: 5px 30px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--white);
}

.radio:hover {
    color: var(--green-blue);
    background-color: var(--gray-light2);
    color: var(--green-dark);
}

.radio-active {
    color: var(--green-blue);
    background-color: var(--gray-light2);
    color: var(--green-dark);
} */

.labels {
    display: block;
    width: 120px;
}

.labels:nth-child(2) {
    margin-right: 10px;
    /* background-color: #adad00; */
}

.labels>input {
    /* HIDE RADIO */
    visibility: hidden;
    /* Makes input not-clickable */
    position: absolute;
    /* Remove input from document flow */
}

.labels>input+div {
    /* DIV STYLES */
    cursor: pointer;
    border: 2px solid transparent;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.labels>input:checked+div {
    /* (RADIO CHECKED) DIV STYLES */
    background-color: var(--gray-light2);
    color: var(--green-dark);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    /* border: 1px solid #ff6600; */
}



.ticket-items {
    display: block;
}

.ticket-items>input {
    visibility: hidden;
    position: absolute;
}

.ticket-items>input+div {
    cursor: pointer;
    border: 2px solid transparent;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.ticket-items>input:checked+div {
    cursor: pointer;
    border: 2px solid var(--green-blue);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}


.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(124, 123, 123, 0.06);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.items-ticket {
    margin: 20px 0 0 0;
    direction: rtl;
    text-align: right;
}

.ticket-inputs {
    /* z-index: -1; */
    width: 180px;
    border-radius: 10px;
    height: 100px;
    padding: 10px;
    background-color: var(--gray-light2);
}

.ticket-inputs-focus {
    z-index: 1000;
    width: 15rem;
    border-radius: 10px;
    height: 100px;
    padding: 10px;
    background-color: var(--white);
    box-shadow: 1px -1px 10px 1px #CECECE;
}

/* .ticket-inputs-focus-input {
    background-color: #FFF;
} */

.ticket-inputs label,
input {
    display: block;
}

.text-size-75 {
    font-size: 0.75rem;
}

.bold-txt {
    font-weight: bold;
    padding: 0 2px;
}

.ticket-inputs-focus-input {
    height: 50px;
    outline: none;
    border: none;
    background: var(--gray-light2);

}

.ticket-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    border-radius: 10px;
    height: 100px;
    padding: 10px;
    color: var(--white);
    background: linear-gradient(90deg, rgba(32, 197, 186, 0.958420868347339) 19%, rgba(31, 196, 186, 1) 62%, rgba(21, 185, 179, 1) 89%);
}

.result-box {
    min-width: 15rem;
    width: 100%;
    min-height: 150px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--white);
    margin-right: -10px;
    padding: 20px;
    border-radius: 5px;
    z-index: 1012;
    box-shadow: 1px -1px 5px 1px #b3b3b3;
}

.result-box-pc {
    /* margin: 20px; */
    z-index: 1000003;
    min-width: 20rem;
    width: 100%;
    height: 270px;
    /* min-height: 150px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden; */
    /* height: 100%; */
    background-color: var(--white);
    margin-right: -10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px -1px 10px 1px #b3b3b3;
}

.block {
    display: block;
}

.result-box-source {
    z-index: 103;
    position: relative;
    width: 100%;
    margin-top: -6px;
}

.result-box-source-item {
    display: block;
    width: 15rem;
    border-bottom: 1px solid #C1C1C1;
    background: rgb(255, 255, 255);
    color: black;
    z-index: 103;
    margin-right: -10px;
    /* padding-right: -9px; */
    padding: 10px 20px;
}

.pc-list {
    /* box-shadow: 1px -1px 10px 1px #b3b3b3; */
    background: var(--white);
    border-radius: 3px;
}

.pc-item {
    /* box-shadow: 1px -1px 10px 1px #b3b3b3; */

    padding: 5px 10px;
    border-radius: 3px;
    display: inline;
    background: var(--white);
    font-size: 0.75rem;
}

.pc-item-active {
    font-size: 0.75rem;
    background: var(--green-dark);
    color: var(--white);
    padding: 5px 10px;
    border-radius: 3px;
    display: inline;

}

.width-100 {
    width: 100%;
}

.m-10 {
    margin: 10px;
}

.outline-btn {
    width: 100px;
    height: 30px;
    border: 1px solid var(--green-blue);
    background: #FFF;
    border-radius: 5px;
    float: left;
}

.outline-btn:hover {
    background: var(--green-blue);
    color: #FFF;

}

button,
a {
    cursor: pointer;
}

/* scrollbar design */
::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: var(--green-blue);
    outline: 1px solid var(--gray-light2);
}

.link-list-hamburger {
    margin: 10px 0;
    padding: 0;
}

/* responsive */
@media (max-width: 1088px) {
    .ticket-inputs {
        margin: 10px;
    }

    .ticket-button {
        margin: 10px;
    }
}

@media (max-width: 830px) {
    .leftside-nav {
        display: none;
    }

    .rightside-nav {
        width: 100%;
    }
}

@media (max-width: 765px) {

    /* .line-top {
        border-top: none;
    } */
    .item-spacing {
        padding: 5px;
        margin: 10px;
        border: 1px solid var(--white);
        border-radius: 10px;
        direction: rtl;
    }

    /* .item-spacing a{
        padding: 5px 8px;

    } */

    .ticket-menu {
        display: flex;
        flex-direction: row-reverse;
        text-align: center;
        justify-content: center;
    }

    .item-spacing-active {
        padding: 5px 15px;
        border-color: var(--green-blue);
    }

    .content-ticket-search {
        margin-top: -24px;
    }

    .search-box {
        margin: 11px auto;
    }
}

@media (max-width:642px) {

    #header-txt h1,
    p {
        font-size: 1rem;
    }
}

@media (max-width: 535px) {


    .hamburgermenu-icon {
        display: block;
        width: 30px;
        height: 30px;
        margin: 0 10px;
    }

    .menu {
        display: none;
        margin-top: 40px;
    }

    .menu-item {
        width: 100%;
        display: block;
    }

    ul li ul {
        z-index: 100002;
        background-color: var(--white);
        visibility: hidden;
        opacity: 0;
        min-width: 70%;
        position: absolute;
        transition: all 0.5s linear;
        margin-top: 0.5rem;
        left: 0;
        display: none;
        border-radius: 10px;
        border-top: 3px solid var(--green-blue);
        transition: all 0.5s linear;
        box-shadow: 2px 3px 3px 1px #C1C1C1;
    }

}

@media (max-width: 465px) {

    .line-top {
        border: none;
    }

}

@media (max-width: 355px) {
    .item-spacing {
        padding: 0;
        margin: 5px;
        border-radius: 10px;
    }

    /* .content-ticket-search{
        margin-top: 111px;
    } */
}